<!DOCTYPE html>
<html>
<head>
  <title>Player Details</title>
</head>
<body>
  <h1>Player Details</h1>
  <ul id="player-details">
  </ul>
  <button id="edit-button">Edit</button>

  <script>
    const playerId = window.location.pathname.split('/')[2];
    fetch(`/players/${playerId}/data`)
      .then(response => response.json())
      .then(player => {
        const playerDetails = document.getElementById('player-details');
        playerDetails.innerHTML = `
          <li>Name: ${player.name}</li>
          <li>Date of Birth: ${player.dateOfBirth}</li>
          <li>Photo URL: ${player.photoUrl}</li>
          <li>Birth Place: ${player.birthPlace}</li>
          <li>Career: ${player.career}</li>
          <li>No. of Matches: ${player.numberOfMatches}</li>
          <li>Score: ${player.score}</li>
          <li>Fifties: ${player.fifties}</li>
          <li>Centuries: ${player.centuries}</li>
          <li>Wickets: ${player.wickets}</li>
          <li>Averages: ${player.averages}</li>
        `;
        const editButton = document.getElementById('edit-button');
        editButton.addEventListener('click', () => {
          window.location.href = `/players/${playerId}/player`;
        });
      })
      .catch(error => console.error(error));
  </script>
</body>
</html>
